* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  --main-bg-color: #FAFAFA;
  --banner-bg-img: url(../assets/dawn.jpg);
  --input-bg-color: #FFFFFF;
  --input-font-color: #3C3A45;
  --banner-icon: url(../assets/moon-outline.svg);
  --list-bg-color: #FFFFFF;
  --list-separator-color: #E6E5EA;
  --list-font-color: #3C3A45;
  --checkbox-border-color: #E6E5EA;
  --list-bg-color: #FFFFFF;
  --footer-font-color: #9a9aa2;
  --p-font-color: #9a9aa2;
  --footer-font-hover: #58596b;
}

.container.dark {
  --main-bg-color: #181824;
  --banner-bg-img: url(../assets/dusk.jpg);
  --input-bg-color: #25273C;
  --input-font-color: #D3D5EC;
  --banner-icon: url(../assets/sun-outline.svg);
  --list-bg-color: #25273C;
  --list-separator-color: #555770;
  --list-font-color: #D3D5EC;
  --checkbox-border-color: #555770;
  --list-bg-color: #25273C;
  --footer-font-color: #454760;
  --p-font-color: #454760;
  --footer-font-hover: #e8ebfa;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container .banner {
  height: 18rem;
  width: 100%;
  background-image: var(--banner-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.container .main-content {
  background-color: var(--main-bg-color);
  height: calc(100vh - 18rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main-content .list-wrapper {
  width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -13rem;
}

@media screen and (max-width: 1024px) {
  .container .main-content .list-wrapper {
    width: 32rem;
  }
}

@media screen and (max-width: 425px) {
  .container .main-content .list-wrapper {
    width: 23rem;
  }
}

@media screen and (max-width: 376px) {
  .container .main-content .list-wrapper {
    width: 20rem;
  }
}

@media screen and (max-width: 320px) {
  .container .main-content .list-wrapper {
    width: 17rem;
  }
}

.container .main-content .list-wrapper .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main-content .list-wrapper .heading h3 {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 2.375rem;
  letter-spacing: 0.6rem;
  color: #FAFAFA;
  font-family: 'Josefin Sans', sans-serif;
}

.container .main-content .list-wrapper .heading .icon-wrapper {
  padding: .25rem;
  border-radius: 1.5625rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  height: 2rem;
  width: 2rem;
  content: var(--banner-icon);
}

.container .main-content .list-wrapper input {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  color: var(--input-font-color);
  width: 38rem;
  height: 3.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--input-bg-color);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .list-wrapper input:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .container .main-content .list-wrapper input {
    width: 32rem;
  }
}

@media screen and (max-width: 425px) {
  .container .main-content .list-wrapper input {
    width: 23rem;
  }
}

@media screen and (max-width: 376px) {
  .container .main-content .list-wrapper input {
    width: 20rem;
  }
}

@media screen and (max-width: 320px) {
  .container .main-content .list-wrapper input {
    width: 17rem;
  }
}

.container .main-content .list-wrapper .ul-outer {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: none;
}

.container .main-content .list-wrapper .ul-outer .list-footer-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.8rem;
  width: 100%;
  background-color: var(--list-bg-color);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  padding: 1rem 1.5rem;
  font-size: .875rem;
  color: var(--footer-font-color);
  border-radius: 0.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .list-wrapper .ul-outer .list-footer-outer .status {
  cursor: pointer;
}

.container .main-content .list-wrapper .ul-outer .list-footer-outer .status:not(:last-child) {
  margin-right: 2rem;
}

.container .main-content .list-wrapper .ul-outer .list-footer-outer .status:hover {
  color: var(--footer-font-hover);
}

.container .main-content .list-wrapper .ul-outer .list-footer-outer .status:first-child {
  color: #5482d7;
}

@media screen and (max-width: 1024px) {
  .container .main-content .list-wrapper .ul-outer {
    display: block;
  }
}

.container .main-content .list-wrapper__items {
  margin-top: 1.6rem;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container .main-content .list-wrapper__items .ul {
  list-style: none;
  padding-left: 0;
}

.container .main-content .list-wrapper__items .ul .list-item {
  height: 3.5rem;
  width: 100%;
  background-color: var(--list-bg-color);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  color: var(--list-font-color);
  border-bottom: 1px solid var(--list-separator-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .list-wrapper__items .ul .list-item:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}

.container .main-content .list-wrapper__items .ul .list-item:last-child {
  border-bottom: none;
}

.container .main-content .list-wrapper__items .ul .list-item .close-icon {
  margin-left: auto;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox .checkmark {
  height: 1.25rem;
  width: 1.25rem;
  background-color: transparent;
  border: 1px solid var(--checkbox-border-color);
  border-radius: 3.125rem;
  margin-right: 1.2rem;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox input:checked ~ .checkmark {
  background: linear-gradient(130deg, #57ddff, #c058f3);
  border: none;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox input:checked ~ .item {
  text-decoration: line-through;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox input:checked ~ .checkmark:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g data-name='Layer 2'><g data-name='checkmark'><rect width='24' height='24' opacity='0'/><path style='fill: white' d='M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1 1 0 1 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.73.33z'/></g></g></svg>");
  display: block;
  height: 14px;
  width: 14px;
  margin-left: 0.15rem;
}

.container .main-content .list-wrapper__items .ul .list-item .checkbox:hover input ~ .checkmark {
  border: double 2px transparent;
  border-radius: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--list-bg-color)), to(var(--list-bg-color))), radial-gradient(circle at top left, #57ddff, #c058f3);
  background-image: linear-gradient(var(--list-bg-color), var(--list-bg-color)), radial-gradient(circle at top left, #57ddff, #c058f3);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.container .main-content .list-wrapper__items .ul .list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.8rem;
  width: 100%;
  background-color: var(--list-bg-color);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding: 1rem 1.5rem;
  font-size: .875rem;
  color: var(--footer-font-color);
  border-radius: 0 0 0.25rem 0.25rem;
}

.container .main-content .list-wrapper__items .ul .list-footer p {
  margin-top: 0;
  margin-top: 0;
}

.container .main-content .list-wrapper__items .ul .list-footer p:hover {
  color: var(--footer-font-hover);
}

.container .main-content .list-wrapper__items .ul .list-footer p:first-child {
  font-size: .75rem;
  margin-right: 6rem;
  color: var(--p-font-color);
}

@media screen and (max-width: 320px) {
  .container .main-content .list-wrapper__items .ul .list-footer p:first-child {
    margin-right: 0;
  }
}

.container .main-content .list-wrapper__items .ul .list-footer p:last-child {
  margin-left: auto;
  cursor: pointer;
}

.container .main-content .list-wrapper__items .ul .list-footer .status {
  margin-left: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.container .main-content .list-wrapper__items .ul .list-footer .status:first-child {
  color: #5482d7;
}

@media screen and (max-width: 1024px) {
  .container .main-content .list-wrapper__items .ul .list-footer .status {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */