//light mode
$main-bg-color--light: #FAFAFA;
$banner-bg-img--light: '../assets/dawn.jpg';
$list-bg-color--light: #FFFFFF;
$border-color--light: #E6E5EA;
$list-font-color--light: #3C3A45;
$footer-font-color--light: #9a9aa2;
$footer-font-hover--light: #58596b;
$banner-icon--light: '../assets/moon-outline.svg';

//dark mode
$main-bg-color--dark: #181824;
$banner-bg-img--dark: '../assets/dusk.jpg';
$list-bg-color--dark: #25273C;
$border-color--dark: #555770;
$list-font-color--dark: #D3D5EC;
$footer-font-color--dark: #454760;
$footer-font-hover--dark: #e8ebfa;
$banner-icon--dark: '../assets/sun-outline.svg';